# 변수를 하나만 받는 함수 생성

In [1]:
# 받은 변수를 그대로 출력하는 함수
def my_function(a):
    print(a)

In [2]:
my_function('Hello')

Hello

In [3]:
# 변수에 100을 더해서 출력하는 함수
def hundred(x):
    print(x + 100)

In [4]:
y = hundred(10)

110

In [5]:
# 함수에 Return이 없으므로, y에 아무것도 저장되지 않음
y

In [6]:
# 위와 같은 연산으로, 이번에는 Return을 반영
def hundred(x):
    return x + 100

In [7]:
hundred(10)

110

In [8]:
y = hundred(10)

In [9]:
y

110

# 변수를 두개 받는 함수 생성

In [10]:
def hap(x, y):
    return x + y

In [11]:
hap(3, 5)

8

In [12]:
hap(10, 21)

31

In [13]:
# 변수를 두개 넣어야하는 자리에 하나만 넣을 경우 에러 발생
hap(3)

TypeError: hap() missing 1 required positional argument: 'y'

In [14]:
# = 을 넣어 디폴트 값을 미리 설정해줄 경우, 해당 변수를 넣어주지 않아도 디폴트값으로 함수가 돌아감
def hap_ten(x, y = 10):
    return x + y

In [15]:
hap_ten(3, 10)

13

In [16]:
# y값을 넣지 않았음에도, 디폴트값인 10으로 반영되어 계산됨
hap_ten(3)

13

In [17]:
# 모든 변수에 디폴트값 설정도 가능
def hap_ten(x = 20, y = 10):
    return x + y

In [18]:
hap_ten(3, 9)

12

In [19]:
# 모든 변수에 디폴트값이 있는 경우, 괄호안에 아무것도 써주지 않아도 에러가 나지 않음
hap_ten()

30

# if가 들어가는 함수 생성

In [20]:
def ten(x):
    if x > 10:
        print('large')
    else:
        print('small')

In [21]:
ten(30)

large

In [22]:
ten(5)

small

In [23]:
def plus_minus_ten(x):
    if x > 10:
        return x + 10
    else:
        return x - 10

In [24]:
plus_minus_ten(15)

25

In [25]:
plus_minus_ten(3)

-7

# DataFrame에 함수 적용해보기

In [26]:
import pandas as pd

In [27]:
data = pd.read_csv('galaxy.csv')

In [28]:
data.head()

,BuyItNow,startprice,carrier,color,productline,noDescription,charCountDescription,upperCaseDescription,sold
0,0,199.99,None,White,Galaxy_S9,contains description,0,0,1
1,0,235.00,None,NaN,Galaxy_Note9,contains description,0,0,0
2,0,199.99,NaN,NaN,Unknown,no description,100,2,0
3,1,175.00,AT&T,Space Gray,Galaxy_Note9,contains description,0,0,1
4,1,100.00,None,Space Gray,Galaxy_S8,contains description,0,0,1

In [29]:
# startprice 가 .99 로 끝나는 경우는 0.01을 더해주고 100을 곱하며, .00으로 끝날경우는 그냥 100을 곱하는 함수 생성

def price(x):
    if x % 1 == 0:
        return x * 100
    else:
        return (x + 0.01) * 100

In [30]:
price(99.99)

10000.0

In [33]:
# 판다스 시리즈 혹은 데이터 프레임을 바로 함수안에 넣으면, 하나의 숫자가 입력된게 아니므로 에러 발생
price(data['startprice'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [34]:
# apply와 lambda를 활용하여, 판다스 시리즈 안의 데이터를 하나하나씩 함수에 적용

data['startprice'].apply(lambda a: price(a))

0       20000.0
1       23500.0
2       20000.0
3       17500.0
4       10000.0
         ...
1480     8951.0
1481    23996.0
1482    33000.0
1483     8900.0
1484    12000.0
Name: startprice, Length: 1485, dtype: float64

In [35]:
# 데이터프레임도 같은 방식으로 적용 가능 (axis 주의)
data.apply(lambda x: price(x['startprice']), axis = 1)

0       20000.0
1       23500.0
2       20000.0
3       17500.0
4       10000.0
         ...
1480     8951.0
1481    23996.0
1482    33000.0
1483     8900.0
1484    12000.0
Length: 1485, dtype: float64

# apply와 lambda를 활용하여, def 없이 한줄에 간단한 함수 작성

In [36]:
def name(x):
    if x > 10:
        return x + 10 
    else:
        return x - 10

In [37]:
data['startprice'].apply(lambda x: name(x))

0       209.99
1       245.00
2       209.99
3       185.00
4       110.00
         ...
1480     99.50
1481    249.95
1482    339.99
1483     99.00
1484    129.99
Name: startprice, Length: 1485, dtype: float64

In [38]:
# 위의 name 펑션과 정확하게 동일한 함수를 한줄로 작성

data['startprice'].apply(lambda x: x+10 if x > 10 else x - 10)

0       209.99
1       245.00
2       209.99
3       185.00
4       110.00
         ...
1480     99.50
1481    249.95
1482    339.99
1483     99.00
1484    129.99
Name: startprice, Length: 1485, dtype: float64

In [39]:
def price(x):
    if x % 1 == 0:
        return x * 100
    else:
        return (x + 0.01) * 100

In [40]:
# 위의 price 펑션과 정확하게 동일한 함수를 한줄로 작성
data['startprice'].apply(lambda x: x * 100 if x % 1 == 0 else (x + 0.01) * 100)

0       20000.0
1       23500.0
2       20000.0
3       17500.0
4       10000.0
         ...
1480     8951.0
1481    23996.0
1482    33000.0
1483     8900.0
1484    12000.0
Name: startprice, Length: 1485, dtype: float64

In [41]:
data['startprice']

0       199.99
1       235.00
2       199.99
3       175.00
4       100.00
         ...
1480     89.50
1481    239.95
1482    329.99
1483     89.00
1484    119.99
Name: startprice, Length: 1485, dtype: float64

In [42]:
# elif는 괄호를 활용하여 if를 2번 적용시켜서 활용
data['startprice'].apply(lambda x: 200 if x > 200 else (100 if x > 100 else 0))

0       100
1       200
2       100
3       100
4         0
       ...
1480      0
1481    200
1482    200
1483      0
1484    100
Name: startprice, Length: 1485, dtype: int64